<div id="popup-name" class="popup-name background-color" {{#if showNamePopup}} style="display: block;" {{/if}}>
  <form class="popup-name__form popup__form">
    <div class="popup-name__form-title">
      EASY<span class="main-color-text">QR</span>
    </div>
    <div class="popup-name__form-text">
      Как к Вам обращаться?
    </div>
    <div class="popup-name__form-input">
      <input type="text" name="name" required placeholder="Введите имя">
    </div>
    <div class="popup-name__form-submit">
      <input type="submit" class="btn blue-color main-color-button" value="Готово">
    </div>
  </form>
</div>
