<div class="search-block">
  <div class="search-block__icon">
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8815 12.5743L10.0262 8.7398C10.7172 7.8027 11.0875 6.66978 11.0823 5.5078C11.0691 2.47466 8.60153 0.0178186 5.55072 0.000299858C4.09074 -0.00626743 2.68875 0.567956 1.65709 1.59505C0.625421 2.62214 0.0497743 4.01679 0.0583838 5.4683C0.0715699 8.50172 2.53937 10.9588 5.59045 10.9763C6.76397 10.9814 7.90766 10.609 8.85085 9.9148L8.85488 9.9118L12.7067 13.7433C12.915 13.9605 13.2253 14.0484 13.5174 13.973C13.8096 13.8976 14.0376 13.6706 14.1133 13.3801C14.1889 13.0896 14.1002 12.7812 13.8815 12.5743ZM5.58646 9.8783C3.14573 9.86434 1.17152 7.8989 1.16081 5.4723C1.15422 4.31124 1.61477 3.19575 2.43995 2.37414C3.26513 1.55252 4.38644 1.09298 5.55428 1.0978C7.99501 1.11176 9.96922 3.0772 9.97993 5.5038C9.98652 6.66486 9.52596 7.78035 8.70079 8.60196C7.87561 9.42358 6.7543 9.88312 5.58646 9.8783Z" fill="#829096"/>
    </svg>
  </div>

  <input type="text" id="search-field" class="search-block__field" placeholder="Поиск">
</div>
